<!DOCTYPE html>
<html>
<head>
  <title>Earn Bitcoin By Completing Tasks</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.4.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='content'></div>
  <div class="modal fade"></div>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>