<!DOCTYPE html>
<html>
<head>
  <title>Earn Bitcoin By Completing Tasks</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/menu_nav' %>
  <%= render 'shared/flashy' %>

  <div class="container" role="main" style="margin-top: -40px;">
    <%= yield %>
  </div>
<<<<<<< HEAD

  <div id="footer" class="text-muted">
    <%= link_to "Discuss", "http://www.reddit.com/r/bittask/", target: '_blank' %>
    | <%= link_to "Github", "https://github.com/bittask/bittask", target: '_blank' %>
    | <%= link_to "Stats", stats_path %>
  </div>
=======
>>>>>>> dd6c71f64ccc56f72e64a893f85771a5c678df07
</body>
</html>